*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
/* ///////// */
.container{
  
  padding: 10px 30px;
  padding-bottom: 0;
  
 
}
div.nav-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
div.logo div.nav-links div.nav-actions{
  height: fit-content;
  width: fit-content;
}

div.logo a{
  font-family: Poppins;
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
  
}
.nav-links{
  display: flex;
  gap: 45px;


}
.nav-links a{
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-family: Poppins;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}
div.nav-actions{
  display: flex;
  align-items: center;
  gap: 13px;
}
div.nav-actions button{
  background-color: #ffffff;
  border: none;
}
.nav-actions a{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: Poppins;
  color: #7200B8 ;
}

/* --------- */
.sidebar{
  background-color: black;
  height: fit-content;
  width: fit-content;
  padding: 50px 50px 50px 30px;
  border-radius: 20px;
}
.logout{
  padding-top: 200px;
}
.content{
  display: flex;
  
  
}
.dashboard{
  
  font-family: Poppins;
  font-weight: bold;
  font-size: 25px;
  
}
.review{
  border-color: #7200B8;
  border-width: thin;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-family: Poppins;
  font-size: 22px;
  
}
div.header{
  display: flex;
  justify-content: space-between;
  

}
div.dashboard,button.review{
  height: fit-content;
  width: fit-content;
}
button.review{
  position: absolute;
  right: 28px ;
}
div.dashboard{
  margin-left: 10px; 
  
}
.loan,.repayment,.calculator{
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 25px;
  padding: 20px 40px;
  
}
.header2{
  display: flex;
  gap: 40px;
  position: absolute;
  top: 125px;
  left: 300px;
  
}
.header3{
  display: inline-flex;
  gap: 30px;
  position: absolute;
  top: 260px;
  left: 300px;
  align-items: center;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
}
.request,.repaymentPlant{
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 40px;
  width: 345px;
  height: 320px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.request{
  display: flex;
  justify-content: center;
  align-items: center;
}
.repaymentPlant{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header4{
  position: absolute;
  top: 700px;
  left: 35%;

}
.update{
  background-color: black;
  color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  font-family: Poppins;
  width: 300px;
  height: 400px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  
}
.update h1{
  text-align: center;
  padding: 10px 0;
  padding-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
}
.update h2{
  font-size: 1rem;
  padding: 20px;
  padding-top: 0;
}
.chatNow{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  bottom: 0;
  color: #7200B8;
  border-color: rgb(0, 0, 0);
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 80px;
}
 
.rectangle15{
  position: absolute;
  top: 289px;
  left: 772px;
  z-index: -2; 
}
.rectangle19{
  position: absolute;
  top: 274px;
  left: 331px;
  z-index: -3; 
}
.rectangle16{
  position: absolute;
  bottom: 100x;
  left: 580px;
  z-index: -4; 
}
.background{
  overflow: hidden;
}
